* {
  padding: 0;
  margin: 0;
  outline: none;

}

@font-face {
  font-family: Montserrat-Bold; /* Имя шрифта */
  src: url(../../dist/assets/fonts/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
 }

 @font-face {
  font-family: Montserrat-Regular; /* Имя шрифта */
  src: url(../../dist/assets/fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
 }

 body {
  background: linear-gradient(180deg, rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%) ;
  background-size: 100%;
  font-family: Montserrat-Bold;
  color: white;
  display: grid;
}

header {
  height: 44px;
  grid-row: 1; 
}

.button_update_info {
  background: rgba(180, 184, 187, 0.4);
  border-radius: 5px;
}

.pop-up_menu_leanguage {
  background: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
}

.change_metric_temperature {
  width: 88px;
  display: grid;
  grid-template-columns: 44px 44px;
}

.button_fahrenheit {
  background: rgba(76, 82, 85, 0.4);
  border-radius: 5px 0px 0px 5px;
}

.svg_update {
  padding: 12px 0 0 14px;
}

.button_celsius {
  border-radius: 0px 5px 5px 0px;
  background: rgba(174, 181, 185, 0.5);
}

  
  .text_field_search {
    width: auto;
    font-family: Montserrat-Regular;
    display: flex;
    margin-left: 15px;
    font-feature-settings: 'cpsp' on;
  }
  
  .button_search {
    background: rgba(174, 181, 185, 0.5);
    border-radius: 0px 5px 5px 0px;
    text-transform: uppercase;
  }
  
  .text_settings {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    line-height: 44px;
  }
  
  .svg_microphone { 
    padding-top: 4px;
    height: 40px;
  }

  .temperature_now {
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 330px 50px;
    
  }

  .image_src {
    clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 100% 94%, 100% 100%, 92% 94%, 0 94%);
  }

  .field_search {
    background: rgba(76, 82, 85, 0.4);
    border: 1px solid rgba(228, 227, 227, 0.2);
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 40px;
  }

  .latitude {
    margin-bottom: 6px;
  }

 @media only screen and (min-width: 1020px) {
  /* For PC: */
  body {
    display: grid;
    grid-template-rows: 44px 1fr;
    padding-top: 40px;

  }

  .city {
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .image_now {
    margin-left: 305px;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .info_about_time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  header {
    display: grid;
    grid-template-columns: 47.381% 29.762%;
    grid-column-gap: 22.857%;
    padding: 0 6.25% 0 6.25%;
    
  }

  section {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 47.381% 29.762%;
    grid-column-gap: 22.857%;
    padding: 0 6.25% 0 6.25%;
  }

  .main_info {
    padding-top: 57px;
  }

  .geolocation {
    padding-top: 170px;
  }

  .buttons_settings {
    height: 44px;
    width: 222px;
    display: grid;
    grid-template-columns: 44px 71px 88px;
    grid-column-gap: 10px;
  }

  
  .search { 
    height: 44px;
    display: grid;
    grid-template-columns: 73.07% 26.93%;
  }

  .info_about_wheather_now {
    height: 368px;
    display: grid;
    grid-template-columns: 1fr 1fr 
  }
  

  
  .number_temperature {
    font-size: 306px;
  }
  
  .sign_temterature {
    padding-top: 50px;
    font-size: 100px;
  }
  

  
  .more_detail_weather {
    width: 200px;
    grid-column-start: 1;
    margin-left: 400px;
    grid-row-start: 1;
    font-size: 22px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 155px;
  }
  
  .days_week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .temperature {
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
  }
  
  .name_day {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;
  }
  
  .image_weather {
    margin-top: 10px;
  }
  
  .info_weathe_next_days {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  

  
  .button_search {
    background: rgba(174, 181, 185, 0.5);
    border-radius: 0px 5px 5px 0px;
    text-transform: uppercase;
  }
  
  .text_settings {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    line-height: 44px;
  }
  

  
  .image_src {
    max-width:100%;
  }
  
  .map {
    width: 100%;
  }
  
  .coordination{
    padding-top: 10px;
    text-align: right;
  }

 }
 @media only screen and (max-width: 1020px) {
  /* For Tablets: */
  body {
    display: grid;
    grid-template-rows: 44px auto;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .city {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .info_about_time {
    display: grid;
    grid-template-columns: 300px 50px;
    font-size: 24px;
    line-height: 29px;
  }


  .temperature_now {
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 310px 50px;
    
  }

  .image_now {
    margin-left: 305px;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  

  header {
    display: grid;
    grid-template-columns: 223px auto;
    grid-column-gap: 10px;
    padding: 0 6.25% 0 6.25%;
  }

  section {
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 6.25% 0 6.25%;
  }

  .main_info {
    padding-top: 57px;
  }

  .geolocation {
    text-align: center;
    padding-top: 30px;
  }

  .buttons_settings {
    height: 44px;
    width: 222px;
    display: grid;
    grid-template-columns: 44px 71px 88px;
    grid-column-gap: 10px;
  }

  .search { 
    height: 44px;
    display: grid;
    grid-template-columns: 73.07% 26.93%;
  }

  .info_about_wheather_now {
    height: 368px;
    display: grid;
    grid-template-columns: 1fr 1fr
  }
  
  
  .number_temperature {
    font-size: 280px;
  }
  
  .sign_temterature {
    padding-top: 50px;
    font-size: 100px;
  }

  
  .more_detail_weather {
    width: 200px;
    grid-column-start: 1;
    margin-left: 305px;
    grid-row-start: 1;
    font-size: 22px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 155px;
  }
  
  .days_week {
    display: flex;
    justify-content: space-between;
    
  }
  
  .temperature {
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
  }
  
  .name_day {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;
  }
  
  .image_weather {
    margin-top: 10px;
  }
  
  .info_weathe_next_days {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
 
  .button_search {
    background: rgba(174, 181, 185, 0.5);
    border-radius: 0px 5px 5px 0px;
    text-transform: uppercase;
  }
  
  .text_settings {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    line-height: 44px;
  }
  
 
  
  .image_src {
    width: 500px;
  }

  
  .coordination{
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: right;
  }

  .side_menu {
    display: none;
  }
 }
 

 @media only screen and (max-width: 600px) {
  /* For Phone: */
  body {
    display: grid;
    grid-template-rows: 44px 1fr;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .image_now {
    margin-left: 150px;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .side_menu {
    display: none;
  }

  .info_about_time {
    display: grid;
    grid-template-columns: 150px 30px;
    font-size: 16px;
    line-height: 18px;
  }

  .temperature_now {
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 170px 30px;
  }

  header {
    grid-template-columns: auto 40px;
    padding: 0 4% 0 4%;
  }

  section {
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 370px 420px;
    padding: 0 4% 0 4%;
  }

  .main_info {
    padding-top: 30px;
  }

  .geolocation {
    text-align: center;
  }

  .buttons_settings {
    display: none;
  }

  .search { 
    height: 44px;
    display: grid;
    grid-template-columns: 73.07% 26.93%;
  }

  .info_about_wheather_now {
    height: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }
  
  
  .number_temperature {
    margin-top: 40px;
    font-size: 160px;
  }
  
  .sign_temterature {
    padding-top: 55px;
    font-size: 80px;
  }

  
  .more_detail_weather {
    width: 120px;
    grid-column-start: 1;
    margin-left: 180px;
    grid-row-start: 1;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    margin-top: 140px;
  }
  
  .days_week {
    display: flex;
    justify-content: space-between;
  }

  
  .temperature {
    font-size: 30px;
    line-height: 30px;
    margin-top: auto;
  }
  
  .name_day {
    font-size: 18px;
    line-height: 10px;
    margin-bottom: 5px;
  }
  
  .image_weather_svg {
    width: 60px;
    height: auto;
  }
  
  .info_weathe_next_days {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
 
  .button_search {
    background: rgba(174, 181, 185, 0.5);
    border-radius: 0px 5px 5px 0px;
    text-transform: uppercase;
  }
  
  .text_settings {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    line-height: 44px;
  }
  
 
  
  .image_src {
    width: 300px;
  }

  .image_now_svg {
    width: 150px;
    height: auto;
  }
  
  .city {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .coordination{
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: right;
  }

  .side_menu {
    width: 35px;
    display: block;
    margin-top: 2px;
    margin-left: auto;
    display: inline-block;
    cursor: pointer;
    right: 0;
  }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
}