
* {
  padding: 0;
  margin: 0;
  outline: none;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: rgba(174, 181, 185, 0.5);
}

 body {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; 
  background-size: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  display: grid;
}

header {
  height: 44px;
  grid-row: 1; 
}

.time {
  width: 120px;
}

.image_now_svg {
  width: 150px;
}


// .menuToggle {
//   display: none;
// }

.side_menu {
  display: none;
}

.image_weather_svg {
  width: 90px;
  height: auto;
}


.button_update_info {
  background: rgba(180, 184, 187, 0.4);
  border-radius: 5px;
}

.pop-up_menu_leanguage {
  border: none;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.change_metric_temperature {
  width: 88px;
}

#change_format_temperature {display: none;}
[for="change_format_temperature"] {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
[for="change_format_temperature"]:before, [for="change_format_temperature"]:after {
  display: inline-block;
   padding: 12px 13px;
}
[for="change_format_temperature"]:before {
  content: "°F";
  border-radius: 5px 0 0 5px;
  background: rgba(174, 181, 185, 0.5);

}
[for="change_format_temperature"]:after {
  content: "°С";
  border-radius: 0px 5px 5px 0px;
  background: rgba(76, 82, 85, 0.4);
}
#change_format_temperature:checked ~ [for="change_format_temperature"]:after {
  background: rgba(174, 181, 185, 0.5);

}
#change_format_temperature:checked ~ [for="change_format_temperature"]:before {
  background: rgba(76, 82, 85, 0.4);
}

.svg_update {
  border-radius: 5px 5px 5px 5px;
  width: 44px;
  height: 44px;
  background: rgba(174, 180, 185, 0.5);
  border: none;
  cursor: pointer;
}

.svg_update:hover {
  background: rgba(76, 82, 85, 0.7);
  
}

.button_celsius {
  border: none;
  border-radius: 0px 5px 5px 0px;
  background: rgba(174, 181, 185, 0.5);
}
::placeholder{color: white;}
.input2::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input2::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input2:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input2:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input2:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.input2:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.input2:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.input2:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

  .text_field_search {
    background: rgba(76, 82, 85, 0.000001);
    color: white;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 91%;
    margin-left: 15px;
    font-feature-settings: 'cpsp' on;
    
  }
  
  .button_search {
     display: block;
    background: rgba(174, 180, 185, 0.5);
    border: none;
    border-radius: 0px 5px 5px 0px;
    text-transform: uppercase;
    cursor: pointer;
  }

  button:hover {
    background: rgba(76, 82, 85, 0.4);
  }
  
  .text_settings {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    line-height: 44px;
  }
  
  .svg_microphone { 
    border-radius: 5px 0 0 5px;
    width: 40px;
    padding-top: 6px;
    height: 36px;
    cursor: pointer;
    display: block;
    border: none;
  }

  .svg_microphone:hover {
    background: rgba(174, 180, 185, 0.5); 
  }

  .temperature_now {
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 330px 50px;
    
  }

  .block_map {
    margin: 0 auto;
  }
  
  .map {
    clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 100% 94%, 100% 100%, 92% 94%, 0 94%);
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;
    padding-bottom: 50%;
  }

  .image_src {
    clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 100% 94%, 100% 100%, 92% 94%, 0 94%);
  }

  .field_search {
    background: rgba(76, 82, 85, 0.4);
    border: 1px solid rgba(228, 227, 227, 0.2);
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 40px;
  }

  .latitude {
    margin-bottom: 6px;
  }



 @media only screen and (min-width: 1020px) {
  /* For PC: */
  body {
    display: grid;
    grid-template-rows: 44px 1fr;
    padding-top: 40px;

  }

  .city {
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .image_now {
    margin-left: 305px;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .info_about_time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  header {
    display: grid;
    grid-template-columns: 47.381% 29.762%;
    grid-column-gap: 22.857%;
    padding: 0 6.25% 0 6.25%;
    
  }

  section {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 47.381% 29.762%;
    grid-column-gap: 22.857%;
    padding: 0 6.25% 0 6.25%;
  }

  .main_info {
    padding-top: 57px;
  }

  .geolocation {
    padding-top: 170px;
  }

  .buttons_settings {
    height: 44px;
    width: 222px;
    display: grid;
    grid-template-columns: 44px 71px 88px;
    grid-column-gap: 10px;
  }

  
  .search { 
    height: 44px;
    display: grid;
    grid-template-columns: 73.07% 26.93%;
  }

  .info_about_wheather_now {
    height: 368px;
    display: grid;
    grid-template-columns: 1fr 1fr 
  }
  

  
  .number_temperature {
    font-size: 270px;
  }
  
  .sign_temterature {
    padding-top: 30px;
    font-size: 100px;
  }
  

  
  .more_detail_weather {
    width: 270px;
    grid-column-start: 1;
    margin-left: 350px;
    grid-row-start: 1;
    font-size: 20px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 125px;
  }
  
  .days_week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .temperature {
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
  }
  
  .name_day {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;
  }
  
  .image_weather {
    margin-top: 10px;
  }
  
  .info_weathe_next_days {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .image_src {
    max-width:100%;
  }

  .block_map {
    width: 100%;
  }

  
  .coordination{
    padding-top: 10px;
    text-align: right;
  }

 }
 @media only screen and (max-width: 1020px) {
  /* For Tablets: */
  body {
    display: grid;
    grid-template-rows: 44px auto;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .city {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .info_about_time {
    display: grid;
    grid-template-columns: 300px 50px;
    font-size: 24px;
    line-height: 29px;
  }


  .temperature_now {
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 310px 50px;
    
  }

  .image_now {
    margin-left: 305px;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(174, 181, 185, 0.5);
  }

  header {
    display: grid;
    grid-template-columns: 223px auto;
    grid-column-gap: 10px;
    padding: 0 6.25% 0 6.25%;
  }

  section {
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 6.25% 0 6.25%;
  }

  .main_info {
    padding-top: 57px;
  }

  .block_map {
    width: 500px;
  }

  .geolocation {
    text-align: center;
    padding-top: 30px;
  }

  

  .buttons_settings {
    height: 44px;
    width: 222px;
    display: grid;
    grid-template-columns: 44px 71px 88px;
    grid-column-gap: 10px;
  }

  .search { 
    height: 44px;
    display: grid;
    grid-template-columns: 73.07% 26.93%;
  }

  .info_about_wheather_now {
    height: 368px;
    display: grid;
    grid-template-columns: 1fr 1fr
  }
  
  
  .number_temperature {
    font-size: 260px;
  }
  
  .sign_temterature {
    padding-top: 30px;
    font-size: 100px;
  }

  
  .more_detail_weather {
    width: 270px;
    grid-column-start: 1;
    margin-left: 345px;
    grid-row-start: 1;
    font-size: 20px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 115px;
  }
  
  .days_week {
    display: flex;
    justify-content: space-between;
    
  }
  
  .temperature {
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
  }
  
  .name_day {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;
  }
  
  .image_weather {
    margin-top: 10px;
  }
  
  .info_weathe_next_days {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 
  .image_src {
    width: 500px;
  }

  
  .coordination{
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: right;
  }
  
 }
 

 @media only screen and (max-width: 600px) {
  /* For Phone: */
  body {
    display: grid;
    grid-template-rows: 44px 1fr;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .modalDialog > div {
    width: 80%;
  }
  

  .image_now {
    margin-left: 150px;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .side_menu {
    display: none;
  }

  .info_about_time {
    display: grid;
    grid-template-columns: 150px 30px;
    font-size: 16px;
    line-height: 18px;
  }

  .temperature_now {
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 170px 30px;
  }

  header {
    grid-template-columns: auto 40px;
    padding: 0 4% 0 4%;
  }

  section {
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 370px 420px;
    padding: 0 4% 0 4%;
  }

  .main_info {
    padding-top: 30px;
  }

  .geolocation {
    text-align: center;
  }

  .buttons_settings {
    display: none;
  }

  .test {
    display: block;
  }

  .search { 
    height: 44px;
    display: grid;
    grid-template-columns: 73.07% 26.93%;
  }

  .info_about_wheather_now {
    height: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }
  
  
  .number_temperature {
    margin-top: 40px;
    font-size: 150px;
  }
  
  .sign_temterature {
    padding-left: 15px;
    padding-top: 40px;
    font-size: 80px;
  }

  
  .more_detail_weather {
    width: 130px;
    grid-column-start: 1;
    margin-left: 200px;
    grid-row-start: 1;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    margin-top: 135px;
  }
  
  .days_week {
    display: flex;
    justify-content: space-between;
  }

  
  .temperature {
    font-size: 30px;
    line-height: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .name_day {
    font-size: 18px;
    line-height: 10px;
    margin-bottom: 5px;
  }
  
  .image_weather_svg {
    width: 60px;
    height: auto;
  }
  
  .info_weathe_next_days {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .block_map {
    width: 300px;
  }
  
  .city {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .coordination{
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: right;
  }

  .side_menu {
    display: block;
    margin-left: auto;
    display: inline-block;
    cursor: pointer;
    right: 0;
    border-radius: 5px;
    // background: rgba(174, 180, 185, 0.5);
  }

  .side_menu:hover {
  background: rgba(76, 82, 85, 0.4);
}

  #menuToggle {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 44px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 44px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

 #menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  // opacity: 1;
  // transform: rotate(80deg) translate(-4px, -2px);
  // background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{

  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  
  // transform: rotate(-30deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 44px;
  height: auto;
  box-shadow: 0 0 10px #85818C;
  margin: -60px 0 0 0px;
  // padding: -50px;
  padding-top: 125px;
  -webkit-font-smoothing: antialiased;
  transform-origin: 100% 100%;
  transform: translate(0%, -100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
} 

.change_metric_temperature {
  height: 88px;
  width: 44px;
}

[for="change_format_temperature"]:before {
  border-radius: 5px 5px 0 0;
  background: rgba(174, 181, 185, 0.5);  
}
[for="change_format_temperature"]:after {
  border-radius: 0 0 5px 5px;
  background: rgba(76, 82, 85, 0.4);

}
#change_format_temperature:checked ~ [for="change_format_temperature"]:after {
  background: rgba(174, 181, 185, 0.5);
}
#change_format_temperature:checked ~ [for="change_format_temperature"]:before {
  background: rgba(76, 82, 85, 0.4);
}

}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}



.close {
	background:rgba(76, 82, 85, 0.4);
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background:rgba(174, 181, 185, 0.5); 
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.viewLoad .preloader {
  display: block;
}

